#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 100%;
  overflow-x: hidden;
}

.counter {
  display: flex;
  font-size: 40px;
  align-items: center;
  width: 100%;
  height: 50%;
  align-items: center;
  justify-content: space-between;
}
